/* Darken body text */
body {
  color: #60676d;
}

/* Add some padding around the buttons in the expanded portfolio items */
.modal-button-padding {
  padding: 15px 5px;
}

/* Add some shading to make the nav bar stand out against the bright header */
.nav-shade-box {
  background: rgba(0, 0, 0, 0.45);
}

/* Add some shading to make the main text stand out against the bright header */
.banner-shade-box {
  background-image: radial-gradient(rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.35) 40%, rgba(0, 0, 0, 0.0) 70%);
}

.banner-shade-box > div > h1 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

/* Brighten <hr /> in the main banner */
#banner-hr {
  border-color: rgba(150, 150, 150, .5);
}

/* Edit colours to be more visible on light image */
.custom-headline-colours {
  color: #E0E0E0 !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.custom-headline-colours > span {
  color: #FFFFFF !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.custom-headline-colours > a {
  color: #FFFFFF !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

/* Lighten about text */
#about p {
  color: #9e9e9e;
}

/* Make a little more room between about text and Get in Touch area */
#about-me-text {
  margin-bottom: 40px;
}

/* Decrease room below email (before LinkedIn link) */
#room-below-email {
  margin-bottom: 7px;
}

/* Make resume headers a little bigger, decrease top padding */
#resume h1 span {
  font-size: 115%;
}
#resume .header-col {
  padding-top: 1px;
}

/* Make education subheader smaller */
.edu-subheader-small {
  font-size: 75%;
}

/* Darken portfolio header text */
#portfolio h1 {
  color: #676e73;
}

/* Darken more portfolio stuff */
.popup-modal .description-box p {
  color: #757575;
}
.popup-modal .description-box .categories {
  color: #777777;
}
