/* Darken body text */
body {
  color: #60676d;
}

/* Change nav button colour */
#nav > .current > .smoothscroll {
  color: #55c5ff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
#nav-wrap > .mobile-btn {
  background-color: #55c5ff;
}

/* Add some shading to make the nav bar stand out against the bright header */
#nav-wrap {
  background: rgba(0, 0, 0, 0.45);
}

/* Add some shading to make the main text stand out against the bright header */
.banner {
  background-image: radial-gradient(rgba(0, 0, 0, 0.55) 0, rgba(0, 0, 0, 0.35) 40%, rgba(0, 0, 0, 0.0) 70%);
}
.banner > div > h1 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

/* Put name on newline if on mobile */
@media only screen and (max-width: 1138px) and (min-width: 348px) {
  .responsive-headline > span::before {
    content: "\A";
    white-space: pre;
  }
}

/* Edit colours to be more visible on light image */
.banner-text > h3 {
  color: #E0E0E0 !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.banner-text > h3 > span {
  color: #FFFFFF !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.banner-text > h3 > a {
  color: #FFFFFF !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.banner-text > h3 > a:hover {
  color: #55c5ff !important;
}

/* Brighten <hr /> in the main banner */
.banner > .banner-text > hr {
  border-color: rgba(150, 150, 150, .5);
}

/* Make social buttons bigger, add more spacing on mobile */
.social > li > a > i {
  font-size: 125%;
}
@media only screen and (max-width: 767px) {
  .social > li {
    margin: 0 10px !important;
  }
}

/* Change social link hover colour */
.social > li > a:hover {
  color: #55c5ff !important;
}

/* Change colour of scroll down button, make it a little bigger */
header .scrolldown a:hover {
  color: #55c5ff;
}
header .scrolldown a {
  font-size: 350%;
}

/* Reduce About padding */
#about {
  padding-top: 76px;
  padding-bottom: 46px;
}

/* Lighten About text */
#about p {
  color: #9e9e9e;
}

/* Change About link colour */
#about a:hover {
  color: #55c5ff;
}

/* Make a little more room between about text and Get in Touch area */
#about > .row > .main-col > p {
  margin-bottom: 40px;
}

/* Decrease room below email (before LinkedIn link) */
.contact-details > p:first-of-type {
  margin-bottom: 7px;
}

/* Make resume headers a little bigger, decrease top padding */
#resume h1 span {
  font-size: 115%;
}
#resume .header-col {
  padding-top: 1px;
}

/* Change resume header bottom border colour */
#resume h1 span {
  border-bottom-color: #55c5ff;
}

/* Change resume link colour */
#resume a, #resume a:visited {
  color: #2e7ca5;
}
#resume a:hover {
  color: #2f3640;
}

/* Add a little space between resume row items */
#resume > div > .main-col > div:first-child > div > p:last-child {
  margin-bottom: 40px;
}
#resume > div > .main-col > div > div > p:last-child {
  margin-bottom: 30px;
}

/* Make education subheader smaller */
#resume > .education > .main-col > div > div > h3 > span {
  font-size: 75%;
}

/* Add line break before resume subheader (school name) if on mobile */
@media only screen and (min-width: 768px) {
  #resume > div > .main-col > div > div > h3:first-child > span::before {
    content: " ";
    white-space: pre;
  }
}
@media only screen and (max-width: 767px) {
  #resume > div > .main-col > div > div > h3:first-child > span::before {
    content: "\A";
    white-space: pre;
  }
}

/* Use bullet OR line break depending on platform */
@media only screen and (min-width: 768px) {
  #resume > div > .main-col > div > div > .info > span::before {
    content: "•";
    white-space: pre;
  }
}
@media only screen and (max-width: 767px) {
  #resume > div > .main-col > div > div > .info > .date::before {
    content: "\A";
    white-space: pre;
  }
  #resume > div > .main-col > div > div > .info > span {
    display: none;
  }
}

/* If distinctions present, reduce bottom margin of edu description */
.p-before-distinctions {
  margin-bottom: 20px;
}

/* Reduce space between distinctions */
.distinction {
  margin-bottom: 12px;
  line-height: 130%;
}

/* Decrease space between main skill p and "here's how i'd rate myself" */
#resume > .skill > .main-col > p:first-of-type {
  margin-bottom: 20px;
}

/* Move percentages to the right on skill bars, change colour */
.bar-expand {
  text-align: right;
  color: #dcdde1;
  padding-right: 15px;
  font-size: 95%;
}

/* Decrease bottom margin of quote text */
#testimonials blockquote p {
  margin-bottom: 20px;
}

/* Darken portfolio header text */
#portfolio h1 {
  color: #656c70;
}

/* Make portfolio items smaller on mobile */
@media only screen and (max-width: 767px) {
  .portfolio-item > div > a > img {
    max-width: 70%;
  }
  .portfolio-item > div {
    text-align: center;
  }
}

/* Make background of items a light grey */
.portfolio-item > div > a > img {
  background-color: rgba(0, 0, 0, 0.05);
}
.portfolio-item .item-wrap {
  background-color: rgba(255, 255, 255, 0.0);
}

/* Add some padding around the buttons in the expanded portfolio items */
.popup-modal .link-box a:hover {
  color: #55c5ff;
}
.popup-modal .link-box a {
  padding: 15px 5px;
}

/* Disable certain modal buttons */
.modal-button-disabled {
  cursor: default !important;
  user-select: none;
}
.modal-button-disabled:hover {
  color: #FFF !important;
}

/* Darken more portfolio stuff */
.popup-modal .description-box p {
  color: #777777;
}
.popup-modal .description-box .categories {
  color: #777777;
}

/* Darken footer text */
footer .copyright li {
  color: #9f9f9f;
}

/* Remove text by social icons */
ul.social > li > a > i > span,
ul.social-links > li > a > i > span {
  display: none;
}

/* Lighten footer link hover colour */
footer a:hover {
  color: #dcdde1;
}

/* Change colour of scroll up button */
footer > div > #go-top > a:hover {
  background-color: #55c5ff;
}

/* Disable text selection for various elements */
.social, .profile-pic, .item-wrap, #nav-wrap, .social-links {
  user-select: none;
}
