name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v6.0.1

      - uses: pnpm/action-setup@v4

      - name: Install
        run: pnpm install

      - name: Lint
        run: pnpm run lint
